<div class="container">
<h3>Medium Reviews</h3>
    <ul>
    <% @medium_reviews.each do |medium_review| %>
      <li>
          <%
            medium = Medium.find(medium_review.medium_id); rating={"1"=>"Totally unreliable", "2"=>"Mostly unreliable","3"=>"Somewhat reliable","4"=>"Mostly reliable","5"=>"Totally reliable","0"=>"Not sure"}
            usr = User.find(medium_review.user_id); reviewer_name=usr.name; reviewer_aff=usr.affiliation;
            if not reviewer_aff.blank? then reviewer_aff=" ["+reviewer_aff+"]"; end
          %>
          Medium's Name: <%= link_to medium.name, medium_path(medium_review.medium_id), target: "_blank" %><br>
          Assessment:
          <%
          txt="<a href='"+medium_medium_review_path(medium.id,medium_review.id)+"' target=_blank><img src='/"+medium_review.medium_review_verdict.to_s+".png' height=30 alt='"+rating[medium_review.medium_review_verdict.to_s].to_s+"' title='"+rating[medium_review.medium_review_verdict.to_s].to_s+"'></a> ["+rating[medium_review.medium_review_verdict.to_s].to_s+"]"
          %>
         <%== txt %>
          <br>
          Reviewer: <%= reviewer_name %><%= reviewer_aff %><br>
          Updated: <%= medium_review.updated_at %><br>
          <br><b><%= link_to 'More about this review', medium_medium_review_path(medium.id,medium_review.id) %></b>
      </li><hr>
    <% end %>
</div>
