<div class="form-claim">
  <fieldset>
    <legend>&nbsp;Edit source</legend>
    <%= form_for @src do |f| %>
      <% if f.object.errors.any? %>
      <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
      <% end %>
    <ul>
      <li>What is the name of the source
      <%= f.text_field :name, class: 'field-long', :readonly => true %>
      </li>
      <li>
      URL (e.g., Jackson Brown, Amnesty International, White House)
      <%= f.text_field :url, class: 'field-long', :onfocusout => "URLPreview('src')", class: 'field-long' %>
      </li>
      <div id="url_preview_block"></div>
      <%= f.hidden_field :url_preview %>
      <li>
      What type is this source?
      <%= f.select :src_type, options_for_select(@src_types, :selected => @src.src_type) %>
      </li>
      <li>
      Provide more details about this source (especially if you mentioned 'Other' as the type)
      <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
      </li>
      <li>
        <%= f.submit 'Submit', :class => 'btn btn btn-primary', id: 'submit' %>
      </li>
    </ul>
    <% end %>
  </fieldset>
  <%= link_to 'Show', @src %> |
  <%= link_to 'Back', srcs_path %>
  </div>
