<div class="container">
  <div class="row"><div class="columnl"><%= link_to "Add Source", new_src_path,:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>
    <%= @filter_msg.html_safe %><%= @sort_msg.html_safe %>
  </div><div class="columnr">
    <%= form_tag(srcs_path, method: :get) do %>
      Search: <%= text_field_tag :q, params[:q] %>
      <%= submit_tag 'Search', name: nil, :class => 'btn btn btn-primary' %>
    <% end %></div></div>
    <hr>
<% if (@srcs.size==0) %>
  No results were returned.
<% end %>
<ul>
  <% @srcs.each do |src| %>
  <h4>
    <br><li><%= link_to src.name, src_path(src) %>
    <small><br>Updated at: <%= src.created_at %> - Reviews:
    <%
      @result2="<table><tr>"
      @reviews = SrcReview.where("src_id=? AND (src_review_sharing_mode=1 AND src_review_verdict!='')",src.id)
      if (@reviews.blank?) then @total_reviews=0
      else
        @total_reviews=@reviews.size
        assessments={"1"=>"Not trustworthy","2"=>"Marginally trustworthy","3"=>"Somewhat trustworthy","4"=>"Mostly trustworthy","5"=>"Fully trustworthy","0"=>"No decision"}
        assessments2={"1"=>0,"2"=>0,"3"=>0,"4"=>0,"5"=>0,"0"=>0}
        @reviews.each do |rev|
          if rev.src_review_verdict.present?
              assessments2[rev.src_review_verdict.to_s]=assessments2[rev.src_review_verdict.to_s]+1
              @result2=@result2+"<td><a href='"+src_src_reviews_path(src.id)+"' target=_blank><img src='"+rev.src_review_verdict.to_s+".png' height=30 alt='"+assessments[rev.src_review_verdict.to_s].to_s+"' title='"+assessments[rev.src_review_verdict.to_s].to_s+"'></a></td>"
            end
          end
          result1=""
          assessments.each do |key, value|
              if assessments2[key]>0
                result1=result1+" "+value+": "+assessments2[key].to_s
              end
          end
        end %>
        <%= link_to @total_reviews, src_src_reviews_path(src.id) %>
     <% if (@total_reviews>0) %>
        <% if !result1.empty? %>
          [<%= result1 %>]
        <% end %>
    <% end %>
    <%
      @my_review = SrcReview.where("src_id=? AND user_id=?",src.id,current_user.id).first
      if (@my_review.blank?)
          revtype ="Add" %>
         - <%= link_to "Add Review", src_src_reviews_path(src.id), method: :create %>
      <% else
          revtype ="Edit" %>
         - <%= link_to "Edit Review", src_src_reviews_path(src.id), method: :create %>, - <%= link_to "Delete Review", src_src_review_path(src.id,@my_review), method: :delete, data: { confirm: "Are you sure?"} %>
      <% end %>
       )</small>
       <%
         if !src.url_preview.present?
            url_prev='<div id="final_url_preview" class="fragment">'
            url_prev=url_prev+'<div style="text-align: left"><img src="src.png" id="cimg" height=75 />'
            if (!src.url.nil?) then url=src.url; else url=""; end
            if (!src.description.nil?) then description=src.description; else description=""; end
            url_prev=url_prev+"\n<h4><a href=\""+url+"\" target=_blank>"+src.name+"</a></h4><p class=\"text\">"+description+"</p><br></div></div>"
         else
           url_prev=src.url_preview
         end
         if @total_reviews>0 %>
          <br>
          <%
            url_prev=url_prev.gsub('\"','"').gsub("\\'", "'")
            url_prev=url_prev.sub("</h4>","<div style='float: right'>"+@result2+"</td><td><a rel='nofollow' data-method='create' href='"+config.relative_url_root.to_s+"/srcs/"+src.id.to_s+"/src_reviews' target=_blank><img src='"+revtype+".png' height=50 alt='"+revtype+" review' title='"+revtype+" review'></a></td></tr></table></div></h4>")
          else
            url_prev=url_prev.gsub('\"','"').gsub("\\'", "'")
            url_prev=url_prev.sub("</h4>","<div style='float: right'><a rel='nofollow' data-method='create' href='"+config.relative_url_root.to_s+"/srcs/"+src.id.to_s+"/src_reviews' target=_blank><img src='Add.png' height=50 alt='Add a review' title='Add a review'></a></div></h4>")
         end %>
        <%== url_prev %>
    </li></h4>
    <% if src.user_id == current_user.id || current_user.id==1
      warning_msg="Are you sure you want to go ahead and delete this source?"
      dependent_reviews=SrcReview.where("src_id = ?",src.id).count("id")
      if (dependent_reviews>0)
        warning_msg="Are you sure you want to go ahead and delete this source and all its reviews?"
      end
    %>
      <%= link_to "Edit", edit_src_path(src) %> -
      <%= link_to "Delete", src_path(src), method: :delete, data: { confirm: warning_msg } %>
    <% end %>  <% end %>
  </ul>
<% if @total_count>10 then %> <%== pagy_bootstrap_nav(@pagy) %> <% end %>
</div>
