<div class="form-claim">
  <fieldset>
    <legend>&nbsp;Add a new source</legend>
    <%= form_for @src, :html => { :onsubmit => "do_submit('src')" } do |f| %>
      <% if f.object.errors.any? %>
      <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
      <% end %>
    <ul>
      <li>What is the name of the source<span class='required'>*</span>
      <%= f.text_field :name, class: 'field-long', :onchange => "NewMedium('"+config.relative_url_root.to_s+"',0,'src','srcs','source')", class: 'field-long', :autocomplete=>"off" %>
      </li>
      <div id="src_note"></div>
      <li>
      URL
      <%= f.text_field :url, :onchange => "URLPreview('"+config.relative_url_root.to_s+"','src')", class: 'field-long', :autocomplete=>"off" %>
      </li>
      <div id="url_preview_block"></div>
      <%= f.hidden_field :url_preview %>
      <li>
      What type is this source?
      <%= f.select :src_type, options_for_select(@src_types, :selected => @src.src_type) %>
      </li>
      <li>
        Do you want to share this source with others?
        &nbsp;&nbsp;<b><%= f.radio_button :sharing_mode, '1', :checked => @src.sharing_mode==1 || @src.sharing_mode.nil? %> Yes share with everyone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.radio_button :sharing_mode, '-1', :checked => @src.sharing_mode==-1 %> No keep it private to me only &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    </li>
    <li>
    <br>Provide more details about this source (especially if you mentioned 'Other' as the type)
      <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
      </li>
      <li>
        <%= f.submit 'Submit', :class => 'btn btn btn-primary', id: 'submit' %>
      </li>
    </ul>
    <% end %>
  </fieldset>
  </div>
