<div class="container">
<h2>Name: <%= @src.name %></h2>
<h4>URL: <a href='<%= @src.url %>' target=_blank><%= @src.url %></a></h4>
<h4>Details: <%= @src.description %></h4>
<p>Added by: <%= User.find(@src.user_id).name %></p></p>
<br>Created: <%= @src.created_at %>
<br>Updated: <%= @src.updated_at %></p>

<br><br>
<h5>
  <%
    @reviews = SrcReview.where("src_id="+@src.id.to_s+" AND (src_review_sharing_mode=1 OR user_id="+current_user.id.to_s+")")
    if (@reviews.blank?) then @total_reviews=0 else @total_reviews=@reviews.size end %>
 <% if (@total_reviews>0) %>
    <%  @my_review = SrcReview.where(src_id: @src.id, user_id: current_user.id)
      if (@my_review.blank?) %>
         Check the <%= link_to " reviews of this source", src_src_reviews_path(@src.id) %><br><br>
         <%= link_to "Review this source", src_src_reviews_path(@src.id), method: :create %>
     <% else %>
         <%= link_to "Edit your review of this source", src_src_reviews_path(@src.id), method: :create %> |
         <%= link_to "Delete your review of this source", src_src_review_path(@src.id,@my_review), method: :delete, data: { confirm: "Are you sure?"} %>
         <% if @total_reviews>1 %>
            Check the <%= link_to "other reviews of this source", src_src_reviews_path(@src.id) %><br>
        <% end %>
    <% end %>
 <% else %>
       <%= link_to "Review this src", src_src_reviews_path(@src.id), method: :create %>
 <% end %>

 </h5>
 <br><br>

<%= link_to "Back", srcs_path %>

  <% if @src.user_id == current_user.id %> -
    <%= link_to "Edit", edit_src_path(@src) %> -
    <%= link_to "Delete", src_path(@src), method: :delete, data: { confirm: @warning_msg} %>
  <% end %>
</div>
