<div class="container">
<h3>Sign up</h3>
<hr>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <%= f.input :email,
                required: true,
                hint: ("You will need this email to log in everytime"),
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :name,
                required: true,
                hint: ("Your name will be included in meta data of your claim reviews"),
                autofocus: true ,
                input_html: { autocomplete: "name" }%>
    <%= f.input :affiliation,
                required: false,
                input_html: { data: {autocomplete_source: affiliations_path } },
                hint: ("This will be useful to identify peers in your organisation and for networking purposes"),
                autofocus: true %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

  <div class="form-claim">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
