<fieldset>
  <legend>Add a new claim</legend>
<div class="form-claim">
<%= form_for @claim do |f| %>
  <% if f.object.errors.any? %>
  <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
  </div>
  <% end %>
<ul>
  <li>Give a brief title for the claim<span class='required'>*</span>
  <%= f.text_field :title, class: 'field-long' %>
  </li>
  <li>
  URL of where the claim is found (if available)
  <%= f.text_field :url, class: 'field-long' %>
  </li>
  <li>
  What was the medium where the claim was published (e.g., Twitter, Facebook, New York Times, etc.)? Leave blank if unknown or unsure.
  <%= f.text_field :medium_name, input_html: { data: {autocomplete_source: media_path }, :onfocusout => "NewMedium('medium','media','media')"} %>
  </li>
  <div id="medium_note"></div>
  <li>
  Who is the source (creator, author, writer) that produced the claim? Leave blank if unknown or unsure.
  <%= f.text_field :src_name, input_html: { data: {autocomplete_source: srcs_path }, :onfocusout => "NewMedium('src','srcs','sources')"} %>
  </li>
  <div id="src_note"></div>
  <li>
    Does the claim contain a video?<span class='required'>*</span>
    <%= f.select :has_video, options_for_select([['Select',''],['Yes', 1],[' No', -1],[' Not sure', 0]], :selected => @claim.has_video) %>
  </li>
  <li>
    Does the claim contain a video?<span class='required'>*</span>
      <%= f.select :has_video, options_for_select([['Select',''],['Yes', 1],[' No', -1],[' Not sure', 0]], :selected => @claim.has_video) %>
  </li>
  <li>
  Any more details about the claim you wish to add?
  <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
  </li>
  <li>
    <%= f.submit 'Submit', :class => 'btn btn btn-primary' %>
  </li>
</ul>
</fieldset>
<% end %>
</div>

<script>
function NewMedium(s,p,w) {
  const element = document.getElementById('claim_'+s+'_name');
  var q = element.value;
  const note = document.getElementById(s+'_note');
  if (q.length==0) { note.innerHTML=''; return ; }

  $.ajax({
    url: '/'+p+'/?term='+q,
    cache: false
  })
    .done(function( html ) {
      var found=false;
      var entry="";
      for(var i = 0; i < html.length; i++)
        {
          if (html[i].toLowerCase()==q.toLowerCase())
            {
              entry=html[i]
              found=true;
              break;
            }
        }
      if (found)
        {
          element.value=entry
          note.innerHTML='';
        }
      else
        {
          note.innerHTML='<b><font color=red>'+q+'</font></b> is new and will be added automatically to the '+w+' database. You can find it by clicking on the <a href="/'+p+'" target=_blank>'+w+' page</a> after submitting this form.<br><br>';
        }
    });
}
</script>
