<div class="form-claim">
<fieldset>
  <legend>&nbsp;Edit a claim</legend>
<%= form_for @claim, :html => { :onsubmit => "do_submit('claim')" } do |f| %>
  <% if f.object.errors.any? %>
  <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
  </div>
  <% end %>
<ul>
  <li>Give a brief title for the claim<span class='required'>*</span>
  <%= f.text_field :title, class: 'field-long', :autocomplete=>"off" %>
  </li>
  <li>
    URL of where the claim is found (if available)
    <%= f.text_field :url, :onfocusout => "URLPreview('claim')", class: 'field-long', :autocomplete=>"off" %>
    </li>
    <div id="url_preview_block">
      <% if @claim.url_preview.present? %>
        <%== @claim.url_preview.gsub('\"','"').gsub("\\'", "'") %>
      <% end %>
    </div>
    <%= f.hidden_field :url_preview %>
    <li>
  What was the medium where the claim was published (e.g., Twitter, Facebook, New York Times, etc.)? Leave blank if unknown or unsure.<br>
  <%= f.text_field :medium_name, data: {autocomplete_source: media_path }, :onchange => "NewMedium(1,'medium','media','media')", :autocomplete=>"off" %>
  </li>
  <div id="medium_note"></div>
  <li>
  Who is the source (creator, author, writer) that produced the claim? Leave blank if unknown or unsure.<br>
  <%= f.text_field :src_name, data: {autocomplete_source: srcs_path }, :onchange => "NewMedium(1,'src','srcs','sources')", :autocomplete=>"off" %>
  </li>
  <div id="src_note"></div>
  <li>
    Does the claim depend on or use an image?<span class='required'>*</span>
    <%= f.select :has_image, options_for_select([['Select',''],['Yes', 1],[' No', -1],[' Not sure', 0]], :selected => @claim.has_image) %>
  </li>
  <li>
    Does the claim depend on or use a video?<span class='required'>*</span>
      <%= f.select :has_video, options_for_select([['Select',''],['Yes', 1],[' No', -1],[' Not sure', 0]], :selected => @claim.has_video) %>
  </li>
  <li>
    Does the claim depend on or use text?<span class='required'>*</span>
      <%= f.select :has_text, options_for_select([['Select',''],['Yes', 1],[' No', -1],[' Not sure', 0]], :selected => @claim.has_text) %>
  </li>
  <li>
    Do you want to share this claim or keep it private?<span class='required'>*</span>
      <%= f.select :sharing_mode, options_for_select([['Select',''],['Yes, share with everyone', 1],['No, keep it private', -1]], :selected => @claim.sharing_mode) %>
  </li>
  <li>
  Any more details about the claim you wish to add?
  <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
  </li>
  <li>
    <%= f.submit 'Submit', :class => 'btn btn btn-primary' %>
  </li>
</ul>
</fieldset>
<% end %>

<%= link_to 'Show', @claim %> |
<%= link_to 'Back', claims_path %>
</div>
