  <fieldset>
    <legend>&nbsp;Add a new claim</legend>
  <div class="form-claim">
  <%= form_for @claim, :html => { :onsubmit => "do_submit('claim')" } do |f| %>
    <% if f.object.errors.any? %>
    <div class="error_messages">
        <% f.object.errors.full_messages.each do |error| %>
          <p><%= error %></p>
        <% end %>
    </div>
    <% end %>
  <ul>
    <li>Give a brief title for the claim
    <%= f.text_field :title, class: 'field-long', :autocomplete=>"off" %>
    </li>
    <li>Assign existing tags
    <%= f.select(:tag_ids, options_for_select(Tag.order('lower(claim_name) ASC').map{ |t| [t.claim_name, t.id] }),{}, { :multiple => true }) %><br>
    <a href="#new_tags" data-toggle="collapse" data-parent="#accordion1" style="text-decoration: none">
      <b>Create additional tags</b><span class="glyphicon glyphicon-plus"></span></a>
      <div class="panel-collapse collapse" id="new_tags">
            Type in new tags seperated by commas
            <%= f.text_field :tag_list, class: 'field-long', :autocomplete=>"off" %>
            <div id="new_tags_block"></div>
            <%= link_to "Add tags", "#add_tags", :onclick => 'submit_tags("claim")', :class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>
      </div>
    </li>

    <li>
    URL of where the claim is found (if available)
    <%= f.text_field :url, :onchange => "URLPreview('claim')", class: 'field-long', :autocomplete=>"off" %>
    <i><small>* Note: If the claim is an image, use that link as the URL (e.g., http://website.com/image.jpg)</small></i>
    </li>
    <div id="url_preview_block"></div>
    <li>
    What was the medium where the claim was published (e.g., Twitter, Facebook, New York Times, etc.)? Leave blank if unknown or unsure.
    <%= f.text_field :medium_name, data: {autocomplete_source: media_path }, :onchange => "NewMedium(1,'medium','media','media')", class: 'field-long', :autocomplete=>"off" %>
    </li>
    <%= f.hidden_field :url_preview %>
    <div id="medium_note"></div>
    <li>
    Who is the source (creator, author, writer) that produced the claim? Leave blank if unknown or unsure.
    <%= f.text_field :src_name, data: {autocomplete_source: srcs_path }, :onchange => "NewMedium(1,'src','srcs','sources')", class: 'field-long', :autocomplete=>"off" %>
    </li>
    <div id="src_note"></div>
    <li>
      Does the claim depend on or use an image?
      &nbsp;&nbsp;<b><%= f.radio_button :has_image, '1', :checked => @claim.has_image==1 %> Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :has_image, '-1', :checked => @claim.has_image==-1 %> No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :has_image, '0', :checked => (@claim.has_image==0 || @claim.has_image.nil?) %> Not sure/skip question</b>

    </li>
    <li>
      Does the claim depend on or use a video?
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%= f.radio_button :has_video, '1', :checked => @claim.has_video==1 %> Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :has_video, '-1', :checked => @claim.has_video==-1 %> No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :has_video, '0', :checked => (@claim.has_video==0 || @claim.has_video.nil?) %> Not sure/skip question</b>
    </li>
    <li>
      Does the claim depend on or use text?
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%= f.radio_button :has_text, '1', :checked => (@claim.has_text==1|| @claim.has_text.nil?) %> Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :has_text, '-1', :checked => @claim.has_text==-1 %> No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :has_text, '0', :checked => @claim.has_text==0  %> Not sure/skip question</b>
    </li>
    <li>
      Do you want to share this claim with others?
      &nbsp;&nbsp;<b><%= f.radio_button :sharing_mode, '1', :checked => @claim.sharing_mode==1 || @claim.sharing_mode.nil? %> Yes share with everyone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :sharing_mode, '-1', :checked => @claim.sharing_mode==-1 %> No keep it private to me only &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    </li>
    <li>
    <br>Any more details about the claim you wish to add?
    <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
    </li>
    <li>
      <%= f.submit 'Submit', :class => 'btn btn btn-primary' %>
    </li>
  </ul>
  </fieldset>
  <% end %>
  </div>

  <script>
    $(document).on('ready page:load', function () {
      $('#claim_tag_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
      })
    });
  </script>
