<div class="container">
<h3>Src Reviews</h3>
<% if (@src_reviews.size==0) %>
  No results were returned.
<% end %>
    <ul>
    <% @src_reviews.each do |src_review| %>
      <li>
          <%
            src = Src.find(src_review.src_id); rating={"-4"=>"Totally untrustworthy", "-3"=>"Mostly untrustworthy","-2"=>"Somewhat trustworthy","-1"=>"Mostly trustworthy","1"=>"Totally trustworthy","0"=>"Not sure"}
            usr = User.find(src_review.user_id); reviewer_name=usr.name; reviewer_aff=usr.affiliation;
            if not reviewer_aff.blank? then reviewer_aff=" ["+reviewer_aff+"]"; end
          %>
          Src's Name: <%= link_to src.name, src_path(src_review.src_id), target: "_blank" %><br>
          Assessment: <%= rating[src_review.src_review_verdict.to_s] %><br>
          Reviewer: <%= reviewer_name %><%= reviewer_aff %><br>
          Updated: <%= src_review.updated_at %><br>
          <%= link_to 'More about this review', src_src_review_path(src.id,src_review.id) %>
      </li>
    <% end %>
</div>
