
              <div class="form-claim">
                <table><tr><td>
                  <li><b>Source:</b> <%= link_to @src.name, claim_path(@src.id), target: "_blank" %></li>
                  <li><b>Assessment:</b>
                    <%
                     usr = User.find(@src_review.user_id); reviewer_name=usr.name; reviewer_aff=usr.affiliation;
                     rating={"1"=>"Totally untrustworthy", "2"=>"Mostly untrustworthy","3"=>"Somewhat trustworthy","4"=>"Mostly trustworthy","5"=>"Totally trustworthy","0"=>"Not sure"}
                     if !@src_review.src_review_verdict.blank? %>
                       <%= link_to(image_tag(config.relative_url_root.to_s+'/'+@src_review.src_review_verdict.to_s+'.png', style:"height:30px", alt:"'"+rating[@src_review.src_review_verdict.to_s].to_s+"'", title:"'"+rating[@src_review.src_review_verdict.to_s].to_s+"'"),src_src_review_path(@src.id,@src_review.id), target: "_blank") %>
                       <% txt="["+rating[@src_review.src_review_verdict.to_s].to_s+"]"
                      else
                        txt="Not assessed"
                      end %>
                     <%== txt %>
                  </li>
                  <li><b>Reviewer:</b> <%= reviewer_name %> - <%= reviewer_aff %></li>
                  <li><b>Updated:</b> <%= @src_review.updated_at %></li>
                </td></tr></table>

              <%= form_for @src_review, method: :put, url: src_src_review_path(@src,@src_review) do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                  <ul>
                      <b>
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_lacks_proper_credentials.blank? %>
                      <li>Does the source lack a clear professional background, credentials and affiliation?
                      <%= f.select :src_lacks_proper_credentials, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_lacks_proper_credentials), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.note_src_lacks_proper_credentials.blank? %>
                      <li>Optional note
                      <%= f.text_area(:note_src_lacks_proper_credentials, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_lacks_proper_credentials, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_failed_factcheck_before.blank? %>
                      <li>Has the source failed a fact check in the past?
                      <%= f.select :src_failed_factcheck_before, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_failed_factcheck_before), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.note_src_failed_factcheck_before.blank? %>
                      <li>Optional note
                      <%= f.text_area(:note_src_failed_factcheck_before, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_failed_factcheck_before, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_has_poor_writing_history.blank? %>
                      <li>Does the source have a history of poor statements, writings, posts and tweets that show some bias (political, social, religious, etc.)?
                      <%= f.select :src_has_poor_writing_history, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_has_poor_writing_history), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.note_src_has_poor_writing_history.blank? %>
                      <li>Optional note
                      <%= f.text_area(:note_src_has_poor_writing_history, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_has_poor_writing_history, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_supported_by_trolls.blank? %>
                      <li>Does the source have a network of support from biased entities, individuals or trolls?
                      <%= f.select :src_supported_by_trolls, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_supported_by_trolls), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.note_src_supported_by_trolls.blank? %>
                      <li>Optional note
                      <%= f.text_area(:note_src_supported_by_trolls, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_supported_by_trolls, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_difficult_to_locate.blank? %>
                      <li>Was it difficult to find information about the source using available local online yellow pages/directories?
                      <%= f.select :src_difficult_to_locate, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_difficult_to_locate), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.note_src_difficult_to_locate.blank? %>
                      <li>Optional note
                      <%= f.text_area(:note_src_difficult_to_locate, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_difficult_to_locate, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_other_problems.blank? %>
                      <li>Are there any other major problems that could make this source untrustworthy? If yes, explain more in the note below.
                      <%= f.select :src_other_problems, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_other_problems), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.note_src_other_problems.blank? %>
                      <li>Optional note
                      <%= f.text_area(:note_src_other_problems, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_other_problems, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_review_verdict.blank? %>
                      <li>Based on the barometer result, how do you assess the trustworthiness of the source?
                      <%= f.select :src_review_verdict, options_for_select([['Select',''],['Not trustworthy', 1],[' Marginally trustworthy', 2],[' Somewhat trustworthy', 3],[' Mostly trustworthy', 4],['  Fully trustworthy', 5],[' No decision', 0]], :selected => @src_review.src_review_verdict), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_review_description.blank? %>
                      <li>Explain your rationale to why you have given this score.
                      <%= f.text_area(:src_review_description, size: '50x10', class: 'field-long field-textarea', value:@src_review.src_review_description, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.note_src_review_description.blank? %>
                      <li>Optional note
                      <%= f.text_area(:note_src_review_description, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_review_description, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.src_review_sharing_mode.blank? %>
                      <li>Do you wish to share your review of this source?
                      <%= f.select :src_review_sharing_mode, options_for_select([['Select',''],['Yes', 1],[' No', -1]], :selected => @src_review.src_review_sharing_mode), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>

                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) and !@src_review.note_src_review_sharing_mode.blank? %>
                      <li>Optional note
                      <%= f.text_area(:note_src_review_sharing_mode, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_review_sharing_mode, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              </b>
                    <li>
                      <% if @src_review.user_id==current_user.id %>
    <%= f.submit 'Update', :class=>'btn btn btn-primary' %>
<% end %>

                    </li>
                  </ul>
              </fieldset>
              <% end %>
