
              <div class="form-claim">
              <h3>Showing review for src:
                   <%= link_to @src.name, src_path(@src.id) %>
              </h3> 

              <%= form_for @src_review, method: :put, url: src_src_review_path(@src,@src_review) do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                  <ul>
                      <b>
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Does the source lack a clear professional background, credentials and affiliation?
                      <%= f.select :src_lacks_proper_credentials, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_lacks_proper_credentials), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Optional note
                      <%= f.text_area(:note_src_lacks_proper_credentials, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_lacks_proper_credentials, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Has the source failed a fact check in the past?
                      <%= f.select :src_failed_factcheck_before, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_failed_factcheck_before), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Optional note
                      <%= f.text_area(:note_src_failed_factcheck_before, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_failed_factcheck_before, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Does the source have a history of poor statements, writings, posts and tweets that show some bias (political, social, religious, etc.)?
                      <%= f.select :src_has_poor_writing_history, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_has_poor_writing_history), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Optional note
                      <%= f.text_area(:note_src_has_poor_writing_history, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_has_poor_writing_history, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Does the source have a network of support from biased entities, individuals or trolls?
                      <%= f.select :src_supported_by_trolls, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_supported_by_trolls), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Optional note
                      <%= f.text_area(:note_src_supported_by_trolls, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_supported_by_trolls, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Was it difficult to find information about the source using available local online yellow pages/directories?
                      <%= f.select :src_difficult_to_locate, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_difficult_to_locate), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Optional note
                      <%= f.text_area(:note_src_difficult_to_locate, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_difficult_to_locate, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Are there any other major problems that could make this source untrustworthy? If yes, explain more in the note below.
                      <%= f.select :src_other_problems, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_other_problems), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Optional note
                      <%= f.text_area(:note_src_other_problems, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_other_problems, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Based on the barometer result, how do you assess the trustworthiness of the source?
                      <%= f.select :src_review_verdict, options_for_select([['Select',''],['Not trustworthy', -4],[' Marginally trustworthy', -3],[' Somewhat trustworthy', -2],[' Mostly trustworth', -1],['  Fully trustworthy', 1],[' No decision', 0]], :selected => @src_review.src_review_verdict), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Explain your rationale to why you have given this score.
                      <%= f.text_area(:src_review_description, size: '50x10', class: 'field-long field-textarea', value:@src_review.src_review_description, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Optional note
                      <%= f.text_area(:note_src_review_description, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_review_description, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Do you wish to share your review of this source?
                      <%= f.select :src_review_sharing_mode, options_for_select([['Select',''],['Yes', 1],[' No', -1]], :selected => @src_review.src_review_sharing_mode), {}, disabled: @src_review.user_id!=current_user.id %>
                      <br>
                      </li>
                  <% end %>
              
                  <% if (@src_review.user_id==current_user.id or @src_review.src_review_sharing_mode==1) %>
                      <li>Optional note
                      <%= f.text_area(:note_src_review_sharing_mode, size: '50x10', class: 'field-long field-textarea', value:@src_review.note_src_review_sharing_mode, disabled: @src_review.user_id!=current_user.id) %>
                      <br>
                      </li>
                  <% end %>
              </b>
                    <li>
                      <% if @src_review.user_id==current_user.id %>
    <%= f.submit 'Update', :class=>'btn btn btn-primary' %>
<% end %>

                    </li>
                  </ul>
              </fieldset>
              <% end %>
          <hr><p>Review by: <%= User.find(@src_review.user_id).name %>
<br>Created at: <%= @src_review.created_at %>
<br>Updated at: <%= @src_review.updated_at %></p></div>