
        <div class="form-claim">
      <%= form_for @src_review, method: :put, url: wizard_path do |f| %>
        <div style="float: left; padding: 10px; width: 20%;">
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          passed_step=false
          @all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= f.submit value, style: 'color:#FFFFFF;width:100%;text-align:left' %>
              <% else %>
                  <%= f.submit value, style: 'color:#C0C0C0;width:100%;text-align:left' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div style="float: left; padding: 10px; width: 80%;"
              <h3>Reviewing source:
                <% if (not @src.url.blank?) %>
                   <%= link_to @src.name, src_path(@src.id) %>
                <% else %>
                  <%= @src.name %>
                <% end %>
              </h3> 

              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>Reviewing the source (author)</legend>
                  <ul>
                      
                  <li>Are there any other major problems that could make this source untrustworthy? If yes, explain more in the note below.
                  <%= f.select :src_other_problems, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @src_review.src_other_problems) %>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_src_other_problems, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= f.submit 'Previous Step', :class => 'btn btn btn-primary' %>
                        <% end %>
                            <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div></div>
              