
        <div class="form-claim">
        <div class="sidenav">
      <%= form_for @src_review, method: :put, url: wizard_path do |f| %>
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          passed_step=false
          @all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= f.submit value, style: 'color:#FFFFFF;width:100%;text-align:left' %>
              <% else %>
                  <%= f.submit value, style: 'color:#C0C0C0;width:100%;text-align:left' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div class="main">
              <h4>Reviewing source:
                   <%= link_to @src.name, src_path(@src.id) %></h4>
                <% if (not @src.url.blank?) %>
                   <%== "URL: <input type='text' id='url_link' value='"+@src.url.to_s+"' style='background-color:lightgrey;width:75%'> <button onclick=copyToClipboard('#url_link')>Copy</button>" %>
                <% else %>
                   URL: Not provided
                <% end %>
              <br> 
                
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <h5><strong>Reviewing the source (author)</strong></h5>
                  <ul>
                      
                  <li>Are there any other major problems that could make this source untrustworthy? If yes, explain more in the note below.
                  <br><%= f.radio_button :src_other_problems, '-1', :checked => (!@src_review.src_other_problems.blank? && @src_review.src_other_problems==-1) %> Yes<br><%= f.radio_button :src_other_problems, '1', :checked => (!@src_review.src_other_problems.blank? && @src_review.src_other_problems==1) %>  No<br><%= f.radio_button :src_other_problems, '0', :checked => (!@src_review.src_other_problems.blank? && @src_review.src_other_problems==0) %>  Not sure<br><br><%= f.radio_button :src_other_problems, '', :checked => (@src_review.src_other_problems.blank?) %> Skip this question<br>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_src_other_problems, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= f.submit 'Previous Step', :class => 'btn btn btn-primary' %>
                        <% end %>
                            <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              