
        <div class="form-claim">
        <div style="float: left; padding: 10px; width: 20%;">
        <big>Claim review steps:</big>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          all_steps={'s1'=>'Author credentials','s2'=>'Fact-check history','s3'=>'Quality of previous writing','s4'=>'Connected to biased entities','s5'=>'Difficulty to verify authenticity','s6'=>'Other problems','s7'=>'Calculated score','s8'=>'Reviewer assessment','s9'=>'Sharing setting'};
          passed_step=false
          all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= link_to value, wizard_path(key), style: 'color:black' %>
              <% else %>
                  <%= link_to value, wizard_path(key), style: 'color:grey' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div style="float: left; padding: 10px; width: 80%;"
              <h3>Reviewing src:
                <% if (not @src.url.blank?) %>
                   <%= link_to @src.name, src_path(@src.id) %>
                <% else %>
                  <%= @src.name %>
                <% end %>
              </h3> 

      <%= form_for @src_review, method: :put, url: wizard_path do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>Making an assessment of author's trustworthiness</legend>
                  <ul>
                      
                  <li>Based on the barometer result, how do you assess the trustworthiness of the source?<span class='required'>*</span>
                  <%= f.select :src_review_verdict, options_for_select([['Select',''],['Not trustworthy', -3],[' Marginally trustworthy', -2],[' Somewhat trustworthy', -1],[' Mostly trustworthy', 1],['  Fully trustworthy', 2],[' No decision', 0]], :selected => @src_review.src_review_verdict) %>
                  <br>
                  
                  </li>
          
                  <li>Explain your rationale to why you have given this score.
                  <%= f.text_area(:src_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_src_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= link_to 'Previous Step',previous_wizard_path+'?s=prev',:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>&nbsp;&nbsp;&nbsp;
                        <% end %>
                        <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div></div>
              