
              <div class="form-claim">
              <h3>Reviewing src:
                <% if (not @src.url.blank?) %>
                   <%= link_to @src.name, src_path(@src.id) %>
                <% else %>
                  <%= @src.name %>
                <% end %>
              </h3> 
              <% if current_user.id==1 %>
                  <h4><% all_steps=['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9']; %>
                  <% for i in 0 ... all_steps.size %>
                      <% if (step==File.basename(wizard_path(all_steps[i]))) %>
                          <font size=20>Step <%= (i+1) %></font>
                      <% else %>
                          <%= link_to (i+1).to_s+' ', wizard_path(all_steps[i]) %>
                      <% end %>
                  <% end %>
                  </h4>
                  <hr>
              <% end %>

              <%= form_for @src_review, method: :put, url: wizard_path do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>Making an assessment of author's trustworthiness</legend>
                  <ul>
                      
                  <li>Based on the barometer result, how do you assess the trustworthiness of the source?<span class='required'>*</span>
                  <%= f.select :src_review_verdict, options_for_select([['Select',''],['Not trustworthy', -4],[' Marginally trustworthy', -3],[' Somewhat trustworthy', -2],[' Mostly trustworth', -1],['  Fully trustworthy', 1],[' No decision', 0]], :selected => @src_review.src_review_verdict) %>
                  <br>
                  
                  </li>
          
                  <li>Explain your rationale to why you have given this score.
                  <%= f.text_area(:src_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_src_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= link_to 'Previous Step',previous_wizard_path+'?s=prev',:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>&nbsp;&nbsp;&nbsp;
                        <% end %>
                        <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              