<div class="container">
<h3>Claim Reviews</h3>
    <% if (@claim_reviews.size==0) %>
      No results were returned.
    <% end %>
    <% @claim_reviews.each do |claim_review| %>
      <ul>
          <%
            claim = Claim.find(claim_review.claim_id); rating={"1"=>"False", "2"=>"Mostly false","3"=>"Mixed","4"=>"Mostly true","5"=>"True","0"=>"Not sure"}
            usr = User.find(claim_review.user_id); reviewer_name=usr.name; reviewer_aff=usr.affiliation;
            md_name="Not provided"; sr_name="Not provided";
            if not claim.medium_id.blank?
              begin
                md = Medium.find(claim.medium_id); if not md.blank? then md_name=md.name; end;
              rescue
                md_name="Not provided"
              end
            end
            if not claim.src_id.blank?
              begin
                sr = Src.find(claim.src_id); if not sr.blank? then sr_name=sr.name; end;
              rescue
                sr_name="Not provided"
              end
            end
            if not reviewer_aff.blank? then reviewer_aff=" ["+reviewer_aff+"]"; end
          %>
          <li><b>Claim:</b> <%= link_to claim.title, claim_path(claim.id), target: "_blank" %></li>
          <li><b>Assessment:</b> <%= rating[claim_review.review_verdict.to_s] %></li>
          <% if md_name!="Not provided" %>
            <li><b>Medium:</b> <%= link_to md_name, medium_path(claim.medium_id) %></li>
          <% else %>
            <li><b>Medium:</b> <%= md_name %></li>
          <% end %>
          <% if sr_name!="Not provided" %>
            <li><b>Source:</b> <%= link_to sr_name, src_path(claim.src_id) %></li>
          <% else %>
            <li><b>Source:</b> <%= sr_name %></li>
          <% end %>
          <li>Reviewer: <%= reviewer_name %><%= reviewer_aff %></li>
          <li>Updated: <%= claim_review.updated_at %></li>
          <%= link_to 'More about this review', claim_claim_review_path(claim.id,claim_review.id) %>
      </ul><hr>
  <% end %>
</div>
