<div class="form-claim">
<%= simple_form_for @resource do |f| %>
  <p>A resource is useful in any part of a fact checking process. Examples are Google's image search (https://images.google.com), which helps detect if a photo went online before and provide details about it.</p>
  <%= f.input :name, label: "Name of this resource" %>
  <%= f.input :url, label: "Offcial URL where it is found" %>
  <%= f.input :description, label: "What is this tool useful for" %>
  <%= f.input :tutorial, label: "A link to the tutorial on how to use it" %>
  <%= f.input :icon, label: "URL for the icon (logo) representing this resource" %>
  <%= f.button :submit, "Submit Resource", class: 'btn btn-primary'  %>
<% end %>
</div>
