<div class="form-claim">
  <fieldset>
    <legend>&nbsp;Edit resource</legend>
    <%= form_for @resource do |f| %>
      <% if f.object.errors.any? %>
      <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
      <% end %>
    <ul>
      <li>What is the name of the resource<span class='required'>*</span>
      <%= f.text_field :name, :onfocusout => "NewResource('resource','resources','resources')", class: 'field-long', disabled: @resource.user_id!=current_user.id, readonly: @resource.user_id!=current_user.id %>
      </li>
      <div id="resource_note"></div>
      <li>
      URL
      <%= f.text_field :url, class: 'field-long', disabled: @resource.user_id!=current_user.id, readonly: @resource.user_id!=current_user.id %>
      </li>
      <div id="url_preview_block"></div>
      <%= f.hidden_field :url_preview %>
      <li>
      A link to the tutorial on how to use it
      <%= f.text_field :tutorial, class: 'field-long', disabled: @resource.user_id!=current_user.id, readonly: @resource.user_id!=current_user.id %>
      </li>
      <li>
      URL for the icon (logo) representing this resource
      <%= f.text_field :icon, class: 'field-long', disabled: @resource.user_id!=current_user.id, readonly: @resource.user_id!=current_user.id %>
      </li>
      <li>
      Provide more details about this resource and what it is useful for:
      <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea', disabled: @resource.user_id!=current_user.id, readonly: @resource.user_id!=current_user.id)%>
      </li>
      <li>
      Reference code(s) of the step(s) which this resource is associated to<br>
      <small><i>(Use commas or spaces to add multiple references)</i></small>
      <%= f.text_field :used_for_qs, class: 'field-long' %>
      </li>
      <li>
        <%= f.submit 'Submit', :class => 'btn btn btn-primary', id: "submit" %>
      </li>
    </ul>
    <% end %>
  </fieldset>
  </div>
