<div class="form-claim">
  <fieldset>
    <legend>&nbsp;Edit resource</legend>
    <%= form_for @resource, :html => { :onsubmit => "do_submit('resource')" } do |f| %>
      <% if f.object.errors.any? %>
      <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
      <% end %>
    <ul>
      <li>What is the name of the resource<span class='required'>*</span>
      <%= f.text_field :name, :onchange => "NewMedium('"+config.relative_url_root.to_s+"',0,'resource','resources','resources')", class: 'field-long', disabled: (@resource.user_id!=current_user.id && current_user.id!=1), readonly: (@resource.user_id!=current_user.id && current_user.id!=1), :autocomplete=>"off" %>
      </li>
      <div id="resource_note"></div>
      <li>
      URL
      <%= f.text_field :url, class: 'field-long', :onfocusout => "URLPreview('"+config.relative_url_root.to_s+"','resource')", disabled: (@resource.user_id!=current_user.id && current_user.id!=1), readonly: (@resource.user_id!=current_user.id && current_user.id!=1), :autocomplete=>"off" %>
      </li>
      <div id="url_preview_block">
        <% if @resource.url_preview.present? %><%== @resource.url_preview.gsub('\"','"').gsub("\\'", "'") %><% else %>No URL preview available<% end %>
      </div>
      <%= f.hidden_field :url_preview %>
      <li>
      A link to the tutorial on how to use it
      <%= f.text_field :tutorial, class: 'field-long', disabled: (@resource.user_id!=current_user.id && current_user.id!=1), readonly: (@resource.user_id!=current_user.id && current_user.id!=1), :autocomplete=>"off" %>
      </li>
      <li>
      URL for the icon (logo) representing this resource
      <%= f.text_field :icon, class: 'field-long', disabled: (@resource.user_id!=current_user.id and current_user.id!=1), readonly: (@resource.user_id!=current_user.id and current_user.id!=1), :autocomplete=>"off" %>
      </li>
      <li>
      Provide more details about this resource and what it is useful for:
      <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea', disabled: (@resource.user_id!=current_user.id and current_user.id!=1), readonly: (@resource.user_id!=current_user.id and current_user.id!=1)) %>
      </li>
      <li>
      Reference code(s) of the step(s) which this resource is associated to<br>
      <small><i>(Use commas or spaces to add multiple references)</i></small>
      <%= f.text_field :used_for_qs, class: 'field-long', :autocomplete=>"off" %>
      </li>
      <li>
        <%= f.submit 'Submit', :class => 'btn btn btn-primary', id: "submit" %>
      </li>
    </ul>
    <% end %>
  </fieldset>
  <%= link_to "Delete", resource_path(@resource), method: :delete, data: { confirm: "Are you sure?"} %>
  </div>
