<div class="container">
<% if user_signed_in? %>
<div class="row"><div class="columnl"></div><div class="columnr"><%= link_to "Add Resource", new_resource_path,:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %></div></div><hr>
  <% if (@resources.size==0) %>
    No results were returned.
  <% end %>
  <ul>
  <% @resources.each do |resource| %>
    <h4>
     <li><%= link_to resource.name, resource_path(resource) %>
       <%
          @my_entry = Resource.where(id: resource.id, user_id: current_user.id).first
          if (not @my_entry.blank?)
          puts("\n\n\n"+@my_entry.inspect+"\n\n\n") %>
            <small>(<%= link_to "Edit", edit_resource_path(@my_entry)%> | <%= link_to "Delete", resource_path(@my_entry), method: :delete, data: { confirm: "Are you sure?"} %>)</small>
         <% end %>
     </li></h4>
  <% end %>
  </ul>
<% else %>
  <h4>Welcome to Fact Check Assistant! </h4> <br><hr><br>
  You can access the service by <b><%= link_to "signing in", new_user_session_path %></b>.
  <br><br>
  If you don't have an account, please <b><%= link_to "sign up", new_user_registration_path %></b>.
<% end %>
</div>
