<div class="form-claim">
<div style='float:right'>
  <a href="#Import" data-toggle="collapse" data-parent="#accordion1" style="text-decoration: none">
    <b>Import resource(s)</b><span class="glyphicon glyphicon-plus"></span></a>
    <div class="panel-collapse collapse" id="Import">
         <br><b><big>Select json file and then click import:</big></b><br><br>
         <%= form_for(@resource, url: {action: "create"}, html: {multipart: true}) do |f| %>
            <%= f.file_field :file %>
            or import from URL: <br><%= f.text_field :url, :style => "padding: 1px 1px; line-height: 10px; width: 320px" %><br>
            <%= f.check_box :used_for_qs, :checked => true %> Associated resources to questions automatically<br>
            <%= f.check_box :overwrite, :checked => true %> Overwrite any existing resources<br>
            <%= f.submit 'Import', :class => 'btn btn btn-primary', id: "submit", :style => "float: right; padding: 5px 5px 5px 5px; line-height: 15px;" %><br><br>
            <b>Note:</b> You can find files to import at<br><%= link_to "Faktaasisstenten's fact-checking resources page", "https://faktaassistenten.sh.se/?page_id=145" %><br>
         <% end %>
       </div>
    </div>
  <fieldset>
    <legend>&nbsp;Add a new resource</legend>
    <%= form_for @resource, :html => { :onsubmit => "do_submit('resource')" } do |f| %>
      <% if f.object.errors.any? %>
      <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
      <% end %>
    <ul>
      <li>What is the name of the resource<span class='required'>*</span>
      <%= f.text_field :name, :onchange => "NewMedium(0,'resource','resources','resources')", class: 'field-long', :autocomplete=>"off" %>
      </li>
      <div id="resource_note"></div>
      <li>
      URL
      <%= f.text_field :url, :onchange => "URLPreview('resource')", class: 'field-long', :autocomplete=>"off" %>
      </li>
      <div id="url_preview_block"></div>
      <%= f.hidden_field :url_preview %>
      <li>
      A link to the tutorial on how to use it
      <%= f.text_field :tutorial, class: 'field-long', :autocomplete=>"off" %>
      </li>
      <li>
      URL for the icon (logo) representing this resource
      <%= f.text_field :icon, class: 'field-long', :autocomplete=>"off" %>
      </li>
      <li>
      Provide more details about this resource and what it is useful for:
      <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
      </li>
      <% if !@ref.present? %>
        <li>
        Reference code(s) of the step(s) which this resource is associated to:<br>
        <small><i>(Use commas or spaces to add multiple references)</i></small>
        <%= f.text_field :used_for_qs, class: 'field-long', :autocomplete=>"off" %>
        </li>
      <% elsif @ref.empty? %>
        <li>
        Reference code(s) of the step(s) which this resource is associated to:<br>
        <small><i>(Use commas or spaces to add multiple references)</i></small>
        <%= f.text_field :used_for_qs, class: 'field-long', :autocomplete=>"off" %>
        </li>
      <% else %>
      <div style="display:none">
        <%= f.text_field :used_for_qs, :value => @ref, readonly: true %>
        </div>
      <% end %>
      <li>
        <%= f.submit 'Submit', :class => 'btn btn btn-primary', id: "submit" %>
      </li>
    </ul>
    <% end %>
  </fieldset>
  </div>
