<div class="form-claim">
  <fieldset>
    <legend>&nbsp;Add a new resource</legend>
    <div style='float:right'>
      <a href="#Import" data-toggle="collapse" data-parent="#accordion1" style="text-decoration: none">
        Import resource(s) &nbsp; <span class="glyphicon glyphicon-plus"></span></a>
        <div class="panel-collapse collapse" id="Import">
             <b>Select a JSON file to import (must use FCA standards):</b>
             <%= form_for(@resource, html: {multipart: true}) do |f| %>
                <%= f.file_field :file %>
                <%= f.check_box :overwrite, :checked => true %> Overwrite any existing resources
                <%= f.submit 'Import', :class => 'btn btn btn-primary', id: "submit" %><br><br>
             <% end %>
           </div>
        </div>

    <%= form_for @resource, :html => { :onsubmit => "do_submit('resource')" } do |f| %>
      <% if f.object.errors.any? %>
      <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
      <% end %>
    <ul>
      <li>What is the name of the resource<span class='required'>*</span>
      <%= f.text_field :name, :onchange => "NewMedium(0,'resource','resources','resources')", class: 'field-long', :autocomplete=>"off" %>
      </li>
      <div id="resource_note"></div>
      <li>
      URL
      <%= f.text_field :url, :onchange => "URLPreview('resource')", class: 'field-long', :autocomplete=>"off" %>
      </li>
      <div id="url_preview_block"></div>
      <%= f.hidden_field :url_preview %>
      <li>
      A link to the tutorial on how to use it
      <%= f.text_field :tutorial, class: 'field-long', :autocomplete=>"off" %>
      </li>
      <li>
      URL for the icon (logo) representing this resource
      <%= f.text_field :icon, class: 'field-long', :autocomplete=>"off" %>
      </li>
      <li>
      Provide more details about this resource and what it is useful for:
      <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
      </li>
      <% if !@ref.present? %>
        <li>
        Reference code(s) of the step(s) which this resource is associated to:<br>
        <small><i>(Use commas or spaces to add multiple references)</i></small>
        <%= f.text_field :used_for_qs, class: 'field-long', :autocomplete=>"off" %>
        </li>
      <% elsif @ref.empty? %>
        <li>
        Reference code(s) of the step(s) which this resource is associated to:<br>
        <small><i>(Use commas or spaces to add multiple references)</i></small>
        <%= f.text_field :used_for_qs, class: 'field-long', :autocomplete=>"off" %>
        </li>
      <% else %>
      <div style="display:none">
        <%= f.text_field :used_for_qs, :value => @ref, readonly: true %>
        </div>
      <% end %>
      <li>
        <%= f.submit 'Submit', :class => 'btn btn btn-primary', id: "submit" %>
      </li>
    </ul>
    <% end %>
  </fieldset>
  </div>
