<div class="container">
<h2><%= @resource.name %></h2>
<h5>
<% if not @resource.icon.blank? then %>
<%= image_tag(@resource.icon, width: "200", :alt => @resource.name) %>
<% end %></h5>
<h5>URL:
  <% if @resource.url.present? %>
    <%= link_to @resource.url,@resource.url %>
    <% if @resource.url_preview.present? %>
      <br><%== @resource.url_preview.gsub('\"','"').gsub("\\'", "'") %>
    <% end %>
  <% else %>
  <small>Not provided</small>
  <% end %></h5>
<h5>Description:
    <% if @resource.description.present? %>
      <%= @resource.description %>
    <% else %>
        Not provided
    <% end %>
</h5>
<% if (!@resource.tutorial.blank?) %>
    <% if ((@resource.tutorial.include? "youtube" or @resource.tutorial.include? "youtu.be")) %>
        <h5>Tutorial: <%= link_to "YouTube Tutorial",@resource.tutorial %> </h5>
        <%== '<iframe width="560" height="315" src="https://www.youtube.com/embed/'+@resource.tutorial.match(/\?v\=(.+)\&?/)[1]+'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' %>
    <% else %>
      <h5>Tutorial: <%= link_to @resource.tutorial,@resource.tutorial %></h5>
    <% end %>
<% else %>
    <h5>Tutorial: Not provided </h5>
<% end %>
<h5>Added by: <%= User.find(@resource.user_id).name %></h5>
<h5>Created: <%= @resource.created_at %></h5>
<h5>Updated: <%= @resource.updated_at %></h5>

<%= link_to "Back", resources_path %>

  <% if @resource.user_id == current_user.id %>
    <%= link_to "Edit", edit_resource_path(@resource) %>
    <%= link_to "Delete", resource_path(@resource), method: :delete, data: { confirm: "Are you sure?"} %>
  <% else %>
  <%= link_to "Associate", edit_resource_path(@resource) %>
  <% end %>
</div>
