<div class="container">
<h2><%= @resource.name %></h2>
<h4>
<% if not @resource.icon.blank? then %>
<%= image_tag(@resource.icon, width: "200", :alt => @resource.name) %>
<% end %></h4>
<h4>URL:
  <% if @resource.url.present? %>
    <%= link_to @resource.url %>
    <% if @resource.url_preview.present? %>
      <br><%== @resource.url_preview.gsub('\"','"').gsub("\\'", "'") %>
    <% end %>
  <% else %>
  <small>Not provided</small>
  <% end %></h4>
<h4>Description:
    <% if @resource.description.present? %>
      <%= @resource.description %>
    <% else %>
        Not provided
    <% end %>
</h4>
<h4>Tutorial: <%= link_to @resource.tutorial,@resource.tutorial, target: "_blank" %></h4>
<h4>Added by: <%= User.find(@resource.user_id).name %></h4>
<h4>Created: <%= @resource.created_at %></h4>
<h4>Updated: <%= @resource.updated_at %></h4>

<%= link_to "Back", resources_path %>

  <% if @resource.user_id == current_user.id %>
    <%= link_to "Edit", edit_resource_path(@resource) %>
    <%= link_to "Delete", resource_path(@resource), method: :delete, data: { confirm: "Are you sure?"} %>
  <% else %>
  <%= link_to "Associate", edit_resource_path(@resource) %>
  <% end %>
</div>
