
        <div class="form-claim">
        <div style="float: left; padding: 10px; width: 20%;">
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          all_steps={'s1'=>'Confirm image review','s2'=>'Misleading context','s3'=>'Image manipulation','s4'=>'Metadata discrepency','s5'=>'Suspicious attributes','s6'=>'Confirm video review','s7'=>'Misleading context','s8'=>'Video manipulation','s9'=>'Metadata discrepency','s10'=>'Audio manipulation','s11'=>'Additional clues','s12'=>'Confirm text review','s13'=>'Confirm seriousness','s14'=>'Verifiable sources','s15'=>'Clickbait title','s16'=>'Language quality','s17'=>'Crowd/distance discrepency','s18'=>'Internal source confirmation','s19'=>'External source confirmation','s20'=>'Calculated score','s21'=>'Reviewer Assessment','s22'=>'Sharing setting'};
          passed_step=false
          all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= link_to value, wizard_path(key), style: 'color:#A9A9A9' %>
              <% else %>
                  <%= link_to value, wizard_path(key), style: 'color:#C0C0C0' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div style="float: left; padding: 10px; width: 80%;"
              <h3>Reviewing claim:
                <% if (not @claim.url.blank?) %>
                   <%= link_to @claim.title, claim_path(@claim.id) %>
                <% else %>
                  <%= @claim.title %>
                <% end %>
              </h3> 

      <%= form_for @claim_review, method: :put, url: wizard_path do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>Reviewing the text content of the claim</legend>
                  <ul>
                      
                  <li>Does the claim include a false statement about crowd sizes or distances?
                  <%= f.select :txt_crowds_distance_discrepency, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @claim_review.txt_crowds_distance_discrepency) %>
                  <br>
                  
                  <br>
                  <%
                    require 'digest/sha1';
                    current_code=Digest::SHA1.base64digest("@claim_review."+"txt_crowds_distance_discrepency")
                    has_resources=Resource.where("used_for_qs like ?", "%"+current_code+"%")
                  %>
                  <div class="panel-group" id="accordion1">
                  	<div class="panel panel-default">
                      	<div class="panel-heading">
                              	<a href="#Resources" data-toggle="collapse" data-parent="#accordion1" style="text-decoration: none">
                                  Resources (<%= has_resources.size.to_s %>) &nbsp; <span class="glyphicon glyphicon-plus"></span></a>
                          </div>
                          <div class="panel-collapse collapse" id="Resources">
                          	<div class="panel-body">
                            <% if not has_resources.blank? %>
                                  <ul>
                                  <% has_resources.each do |r| %>
                                  <li><h5>- <%== try_resource(r.name,'claim') %><%= link_to r.name, resource_path(r.id), target: "_blank" %></h5></li>
                                <% end %>
                              </ul>
                              <hr><p>- <%= link_to "Add an additional resource to this question", new_resource_path(ref: current_code), target: "_blank" %><br><br>
                              <small>- You can also check the current <b><%= link_to "resources", resources_path(), target: "_blank" %></b> and associate any of them to this question by adding the following reference code to their "Associations" field: <b><%= current_code %></b></small></p>
                          <% else %>
                              <p><b>No resources have been associated to this question.</b></p>
                              <hr><p>- <%= link_to "Add a resource to this question", new_resource_path(ref: current_code), target: "_blank" %><br><br>
                              <small>- You can also associate one of the current <b><%= link_to "resources", resources_path(), target: "_blank" %></b> to this question by adding the following reference code to their "Associations" field: <b><%= current_code %></b></small></p>
                          <% end %>
                          </div>
                       </div>
                  </div>
                  <hr>
             
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_txt_crowds_distance_discrepency, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= link_to 'Previous Step',previous_wizard_path+'?s=prev',:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>&nbsp;&nbsp;&nbsp;
                        <% end %>
                        <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div></div>
              