
        <div class="form-claim">
      <%= form_for @claim_review, method: :put, url: wizard_path do |f| %>
        <div style="float: left; padding: 10px; width: 20%;">
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          passed_step=false
          @all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= f.submit value, style: 'color:#FFFFFF;width:100%;text-align:left' %>
              <% else %>
                  <%= f.submit value, style: 'color:#C0C0C0;width:100%;text-align:left' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div style="float: left; padding: 10px; width: 80%;"
              <h3>Reviewing claim:
                <% if (not @claim.url.blank?) %>
                   <%= link_to @claim.title, claim_path(@claim.id) %>
                <% else %>
                  <%= @claim.title %>
                <% end %>
              </h3> 

              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>Assessment based on your answers</legend>
                  <ul>
                      
                  <li><%= @content_review_score.html_safe %>
                  <%= f.hidden_field :claim_review, :value => @claim_review %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= f.submit 'Previous Step', :class => 'btn btn btn-primary' %>
                        <% end %>
                            <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div></div>
              