
        <div class="form-claim">
        <div style="float: left; padding: 10px; width: 20%;">
        <big>Claim review steps:</big>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          all_steps={'s1'=>'Confirm image review','s2'=>'Misleading context','s3'=>'Image manipulation','s4'=>'Metadata discrepency','s5'=>'Suspicious attributes','s6'=>'Confirm video review','s7'=>'Misleading context','s8'=>'Video manipulation','s9'=>'Metadata discrepency','s10'=>'Audio manipulation','s11'=>'Additional clues','s12'=>'Confirm text review','s13'=>'Confirm seriousness','s14'=>'Verifiable sources','s15'=>'Clickbait title','s16'=>'Language quality','s17'=>'Crowd/distance discrepency','s18'=>'Internal source confirmation','s19'=>'External source confirmation','s20'=>'Calculated score','s21'=>'Reviewer Assessment','s22'=>'Sharing setting'};
          passed_step=false
          all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= link_to value, wizard_path(key), style: 'color:black' %>
              <% else %>
                  <%= link_to value, wizard_path(key), style: 'color:grey' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div style="float: left; padding: 10px; width: 80%;"
              <h3>Reviewing claim:
                <% if (not @claim.url.blank?) %>
                   <%= link_to @claim.title, claim_path(@claim.id) %>
                <% else %>
                  <%= @claim.title %>
                <% end %>
              </h3> 

      <%= form_for @claim_review, method: :put, url: wizard_path do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>Assessment based on your answers</legend>
                  <ul>
                      
                  <li><%= @content_review_score.html_safe %>
                  <%= f.hidden_field :claim_review, :value => @claim_review %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= link_to 'Previous Step',previous_wizard_path+'?s=prev',:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>&nbsp;&nbsp;&nbsp;
                        <% end %>
                        <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div></div>
              