
        <div class="form-claim">
        <div class="sidenav">
      <%= form_for @claim_review, method: :put, url: wizard_path do |f| %>
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          passed_step=false
          @all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= f.submit value, style: 'color:#FFFFFF;width:100%;text-align:left' %>
              <% else %>
                  <%= f.submit value, style: 'color:#C0C0C0;width:100%;text-align:left' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div class="main">
              <h4>Reviewing claim:
                <% if (not @claim.url.blank?) %>
                   <%= link_to @claim.title, claim_path(@claim.id) %>
                <% else %>
                  <%= @claim.title %>
                <% end %>
              </h4> 

              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <h5><strong>Sharing your claim review</strong></h5>
                  <ul>
                      
                  <li>Do you wish to share this claim review?<span class='required'>*</span>
                  <%= f.select :review_sharing_mode, options_for_select([['Select',''],['Yes', 1],[' No', -1]], :selected => @claim_review.review_sharing_mode) %>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_review_sharing_mode, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      <%= link_to 'Previous Step',previous_wizard_path+'?s=prev',:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>
&nbsp;&nbsp;&nbsp;<%= f.submit 'Finish', :class => 'btn btn btn-primary' %>
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              