
              <h3>Reviewing claim:
                <% if (not @claim.url.blank?) %>
                   <%= link_to @claim.title, claim_path(@claim.id) %>
                <% else %>
                  <%= @claim.title %>
                <% end %>
              </h3> 
              <div class="form-claim">
              <% if current_user.id==1 %>
                  <h4><% all_steps=['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20', 's21', 's22']; %>
                  <% for i in 0 ... all_steps.size %>
                      <% if (step==File.basename(wizard_path(all_steps[i]))) %>
                          <font size=20>Step <%= (i+1) %></font>
                      <% else %>
                          <%= link_to (i+1).to_s+' ', wizard_path(all_steps[i]) %>
                      <% end %>
                  <% end %>
                  </h4>
                  <hr>
              <% end %>

              <%= form_for @claim_review, method: :put, url: wizard_path do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>2) Reviewing video in the claim</legend>
                  <ul>
                      
                  <li>Since the claim contains a video, do you wish to review it?
                  <%= f.select :vid_review_started, options_for_select([['Select',''],['Yes', 1],[' No', -1]], :selected => @claim_review.vid_review_started) %>
                  <br>
                  
                  </li>
          
                    <li>
                      <%= link_to 'Previous Step',previous_wizard_path,:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>
&nbsp;&nbsp;&nbsp;<%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              