
        <div class="form-claim">
        <div class="sidenav">
      <%= form_for @claim_review, method: :put, url: wizard_path do |f| %>
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          passed_step=false
          @all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= f.submit value, style: 'color:#FFFFFF;width:100%;text-align:left' %>
              <% else %>
                  <%= f.submit value, style: 'color:#C0C0C0;width:100%;text-align:left' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div class="main">
        <%= link_to "Delete Review", claim_claim_review_path(@claim.id,@claim_review), style: 'float:right', method: :delete, data: { confirm: "Are you sure?" } %>
        <h4>Reviewing claim:
                   <%= link_to @claim.title, claim_path(@claim.id) %></h4>
                <% if (not @claim.url.blank?) %>
                   <%== "URL: <input type='text' id='url_link' value='"+@claim.url.to_s+"' style='background-color:lightgrey;width:75%'> <button onclick=copyToClipboard('#url_link')>Copy</button>" %>
                <% else %>
                   URL: Not provided
                <% end %>
              <br> 
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <h5><strong>Reviewing video in the claim</strong></h5>
                  <ul>
                      
                  <li><big><b><font color=blue>Since the claim contains a video, do you wish to review it?</font></b></big>
                  <br><%= f.radio_button :vid_review_started, '1', :checked => (!@claim_review.vid_review_started.blank? && @claim_review.vid_review_started==1) %> <b>Yes&#44;</b> I want to review the video<br><%= f.radio_button :vid_review_started, '-1', :checked => (!@claim_review.vid_review_started.blank? && @claim_review.vid_review_started==-1) %>  <b>No&#44;</b> I want to skip the review and just make an assessment<br><br><%= f.radio_button :vid_review_started, '', :checked => (@claim_review.vid_review_started.blank?) %> Skip this question<br>
                  <br><div style='border:2px solid black;margin:auto;width:70%;padding:10px;background-color:lightblue;'><b><big>NOTE </big></b><b> that you don't need to answer all questions!</b><br>If you are ready to assess the claim, simply jump to the <b><big>Reviewer Assessment</big></b> step to the left (one before the last) and mark your verdict.</div><br>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= f.submit 'Previous Step', :class => 'btn btn btn-primary' %>
                        <% end %>
                            <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              