<div class="container">
  <div class="row"><div class="columnl"><%= link_to "Add Medium", new_medium_path,:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>
    <%= @filter_reviews.html_safe %>
  </div><div class="columnr">
    <%= form_tag(media_path, method: :get) do %>
      Search: <%= text_field_tag :q, params[:q] %>
      <%= submit_tag 'Search', name: nil, :class => 'btn btn btn-primary' %>
    <% end %></div></div>
    <hr>
<% if (@media.size==0) %>
  No results were returned.
<% end %>
<ul>
<% @media.each do |medium| %>
    <h4>
      <li><%= link_to medium.name, medium_path(medium) %>
      <small>(Reviews:
      <%
        @reviews = MediumReview.where("medium_id="+medium.id.to_s+" AND (user_id="+current_user.id.to_s+" OR (medium_review_sharing_mode=1 AND medium_review_verdict!=''))")
        if (@reviews.blank?) then @total_reviews=0
        else
          @total_reviews=@reviews.size
          assessments={"1"=>"Totally unreliable","2"=>"Mostly unreliable","3"=>"Somewhat unreliable","4"=>"Mostly reliable","5"=>"Totally reliable","0"=>"No decision"}
          assessments2={"1"=>0,"2"=>0,"3"=>0,"4"=>0,"5"=>0,"0"=>0}
          @reviews.each do |rev|
            if rev.medium_review_verdict.present? then assessments2[rev.medium_review_verdict.to_s]=assessments2[rev.medium_review_verdict.to_s]+1 end
          end
          result=""
          assessments.each do |key, value|
              if assessments2[key]>0 then result=result+" "+value+": "+assessments2[key].to_s end
          end
        end %>
        <%= link_to @total_reviews, medium_medium_reviews_path(medium.id) %>
     <% if (@total_reviews>0) %>
        <% if !result.empty? %>
          [<%= result %>]
        <% end %>
    <% end %>
    <%
      @my_review = MediumReview.where("medium_id="+medium.id.to_s+" AND user_id="+current_user.id.to_s).first
      if (@my_review.blank?) %>
         - <%= link_to "Add Review", medium_medium_reviews_path(medium.id), method: :create %>
      <% else %>
         - <%= link_to "Edit Your Review", medium_medium_reviews_path(medium.id), method: :create %>, - <%= link_to "Delete Your Review", medium_medium_review_path(medium.id,@my_review), method: :delete, data: { confirm: "Are you sure?"} %>
      <% end %>
       )</small>
       <% if medium.url_preview.present? %>
         <br><%== medium.url_preview.gsub('\"','"').gsub("\\'", "'") %>
       <% end %>
    </li></h4>
<% end %>
</ul>
<% if @total_count>10 then %> <%== pagy_bootstrap_nav(@pagy) %> <% end %>
</div>
