<div class="form-claim">
  <fieldset>
    <legend>&nbsp;Add a new medium</legend>
    <%= form_for @medium, :html => { :onsubmit => "do_submit('medium')" } do |f| %>
      <% if f.object.errors.any? %>
      <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
      <% end %>
    <ul>
      <li>What is the name of the medium<span class='required'>*</span>
      <%= f.text_field :name, :onchange => "NewMedium(0,'medium','media','media')", class: 'field-long', :autocomplete=>"off" %>
      </li>
      <div id="medium_note"></div>
      <li>
      URL (e.g., https://twitter.com, https://facebook.com, https://telegram.org/, https://whatsapp.com)
      <%= f.text_field :url, :onchange => "URLPreview('medium')", class: 'field-long', :autocomplete=>"off" %>
      </li>
      <div id="url_preview_block"></div>
      <%= f.hidden_field :url_preview %>
      <li>
      What type is this medium?
        <%= f.select :medium_type, options_for_select(@medium_types, :selected => @medium.medium_type) %>
      </li>
      <li>
      Provide more details about this medium (especially if you mentioned 'Other' as the type)
      <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
      </li>
      <li>
        <%= f.submit 'Submit', :class => 'btn btn btn-primary', id: "submit" %>
      </li>
    </ul>
    <% end %>
  </fieldset>
  </div>
