<div class="container">
<h2>Name: <%= @medium.name %></h2>
<h4>URL:
  <% if @medium.url.present? %>
    <%= link_to @medium.url %>
    <% if @medium.url_preview.present? %>
      <br><%== @medium.url_preview.gsub('\"','"').gsub("\\'", "'") %>
    <% end %>
  <% else %>
  Not provided
  <% end %>
</h4>
<h4>Description:
  <% if @medium.description.present? %>
    <%= @medium.description %>
  <% else %>
      Not provided
  <% end %>
</h4>
<h4>Type: <%= @medium_type %></h4>
<p>Added by: <%= User.find(@medium.user_id).name %>
<br>Created: <%= @medium.created_at %>
<br>Updated: <%= @medium.updated_at %></p>

<hr><%= link_to "Claims connected to this medium", claims_path(:m => @medium.id), target: "_blank" %>
<br><br>
<h5>
  <%
    @reviews = MediumReview.where("medium_id="+@medium.id.to_s+" AND (medium_review_sharing_mode=1 OR user_id="+current_user.id.to_s+")")
    if (@reviews.blank?) then @total_reviews=0 else @total_reviews=@reviews.size end %>
 <% if (@total_reviews>0) %>
    <%  @my_review = MediumReview.where(medium_id: @medium.id, user_id: current_user.id)
      if (@my_review.blank?) %>
         Check the <%= link_to " reviews of this medium", medium_medium_reviews_path(@medium.id) %><br><br>
         <%= link_to "Review this medium", medium_medium_reviews_path(@medium.id), method: :create %>
     <% else %>
         <%= link_to "Edit your review of this medium", medium_medium_reviews_path(@medium.id), method: :create %> |
         <%= link_to "Delete your review of this medium", medium_medium_review_path(@medium.id,@my_review), method: :delete, data: { confirm: "Are you sure?"} %>
         <% if @total_reviews>1 %>
            Check the <%= link_to "other reviews of this medium", medium_medium_reviews_path(@medium.id) %><br>
        <% end %>
    <% end %>
 <% else %>
       <%= link_to "Review this medium", medium_medium_reviews_path(@medium.id), method: :create %>
 <% end %>

</h5>
<br><br>

<%= link_to "Back", media_path %>

  <% if @medium.user_id == current_user.id %> -
    <%= link_to "Edit", edit_medium_path(@medium) %> -
    <%= link_to "Delete", medium_path(@medium), method: :delete, data: { confirm: @warning_msg} %>
  <% end %>
</div>
