
        <div class="form-claim">
        <div style="float: left; padding: 10px; width: 20%;">
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          all_steps={'s1'=>'Check blacklist','s2'=>'Fact-check history','s3'=>'Technical security','s4'=>'Whois discrepency','s5'=>'Contact/address discrepency','s6'=>'Known bias','s7'=>'Poor ranking','s8'=>'Lack of liability terms','s9'=>'Lack of flagging means','s10'=>'Other problems','s11'=>'Calculated score','s12'=>'Reviewer assessment','s13'=>'Sharing setting'};
          passed_step=false
          all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= link_to value, wizard_path(key), style: 'color:black' %>
              <% else %>
                  <%= link_to value, wizard_path(key), style: 'color:grey' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div style="float: left; padding: 10px; width: 80%;"
              <h3>Reviewing medium:
                <% if (not @medium.url.blank?) %>
                   <%= link_to @medium.name, medium_path(@medium.id) %>
                <% else %>
                  <%= @medium.name %>
                <% end %>
              </h3> 

      <%= form_for @medium_review, method: :put, url: wizard_path do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>Reviewing the medium</legend>
                  <ul>
                      
                  <li>Are there any other major problems that could make this medium unreliable? If yes, explain more in the note below.
                  <%= f.select :medium_other_problems, options_for_select([['Select',''],['Yes', -1],[' No', 1],[' Not sure', 0]], :selected => @medium_review.medium_other_problems) %>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_medium_other_problems, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= link_to 'Previous Step',previous_wizard_path+'?s=prev',:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>&nbsp;&nbsp;&nbsp;
                        <% end %>
                        <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div></div>
              