
        <div class="form-claim">
        <div class="sidenav">
      <%= form_for @medium_review, method: :put, url: wizard_path do |f| %>
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          passed_step=false
          @all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= f.submit value, style: 'color:#FFFFFF;width:100%;text-align:left' %>
              <% else %>
                  <%= f.submit value, style: 'color:#C0C0C0;width:100%;text-align:left' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div class="main">
              <h4>Reviewing medium:
                   <%= link_to @medium.name, medium_path(@medium.id) %></h4>
                <% if (not @medium.url.blank?) %>
                   <%== "URL: <input type='text' id='url_link' value='"+@medium.url.to_s+"' style='background-color:lightgrey;width:75%'> <button onclick=copyToClipboard('#url_link')>Copy</button>" %>
                <% else %>
                   URL: Not provided
                <% end %>
              <br> 
                
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <h5><strong>Making an assessment of author's trustworthiness</strong></h5>
                  <ul>
                      
                  <li>Considering the given score, how do you assess the medium's reliability for accurate information?<span class='required'>*</span>
                  <br><%= f.radio_button :medium_review_verdict, '1', :checked => (!@medium_review.medium_review_verdict.blank? && @medium_review.medium_review_verdict==1), onClick: "$('#verdict_note').show();" %> Totally unreliable<br><%= f.radio_button :medium_review_verdict, '2', :checked => (!@medium_review.medium_review_verdict.blank? && @medium_review.medium_review_verdict==2), onClick: "$('#verdict_note').show();" %>  Mostly unreliable<br><%= f.radio_button :medium_review_verdict, '3', :checked => (!@medium_review.medium_review_verdict.blank? && @medium_review.medium_review_verdict==3), onClick: "$('#verdict_note').show();" %>  Somewhat reliable<br><%= f.radio_button :medium_review_verdict, '4', :checked => (!@medium_review.medium_review_verdict.blank? && @medium_review.medium_review_verdict==4), onClick: "$('#verdict_note').show();" %>  Mostly reliable<br><%= f.radio_button :medium_review_verdict, '5', :checked => (!@medium_review.medium_review_verdict.blank? && @medium_review.medium_review_verdict==5), onClick: "$('#verdict_note').show();" %>  Totally reliable<br><%= f.radio_button :medium_review_verdict, '0', :checked => (!@medium_review.medium_review_verdict.blank? && @medium_review.medium_review_verdict==0), onClick: "$('#verdict_note').show();" %>  No decision/Not applicable<br><br><%= f.radio_button :medium_review_verdict, '', :checked => (@medium_review.medium_review_verdict.blank?) %> Skip this question<br>
                  <br>
                  
                  </li>
          
                  <li>Explain your rationale to why you have given this assessment.
                  <%= f.text_area(:medium_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_medium_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= f.submit 'Previous Step', :class => 'btn btn btn-primary' %>
                        <% end %>
                            <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              