
        <div class="form-claim">
      <%= form_for @medium_review, method: :put, url: wizard_path do |f| %>
        <div class="sidenav">
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          passed_step=false
          @all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= f.submit value, style: 'color:#FFFFFF;width:100%;text-align:left' %>
              <% else %>
                  <%= f.submit value, style: 'color:#C0C0C0;width:100%;text-align:left' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div class="main">
              <h4>Reviewing medium:
                <% if (not @medium.url.blank?) %>
                   <%= link_to @medium.name, medium_path(@medium.id) %>
                <% else %>
                  <%= @medium.name %>
                <% end %>
              </h4> 

              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <h5><strong>Making an assessment of author's trustworthiness</strong></h5>
                  <ul>
                      
                  <li>Considering the given score, how do you assess the medium's reliability for accurate information?<span class='required'>*</span>
                  <%= f.select :medium_review_verdict, options_for_select([['Select',''],['Totally unreliable', 1],[' Mostly unreliable', 2],[' Somewhat reliable', 3],[' Mostly reliable', 4],[' Totally reliable', 5],[' No decision', 0]], :selected => @medium_review.medium_review_verdict) %>
                  <br>
                  
                  </li>
          
                  <li>Explain your rationale to why you have given this assessment.
                  <%= f.text_area(:medium_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_medium_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= f.submit 'Previous Step', :class => 'btn btn btn-primary' %>
                        <% end %>
                            <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              