
              <h3>Reviewing medium:
                <% if (not @medium.url.blank?) %>
                   <%= link_to @medium.name, medium_path(@medium.id) %>
                <% else %>
                  <%= @medium.name %>
                <% end %>
              </h3> 
              <div class="form-claim">
              <% if current_user.id==1 %>
                  <h4><% all_steps=['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13']; %>
                  <% for i in 0 ... all_steps.size %>
                      <% if (step==File.basename(wizard_path(all_steps[i]))) %>
                          <font size=20>Step <%= (i+1) %></font>
                      <% else %>
                          <%= link_to (i+1).to_s+' ', wizard_path(all_steps[i]) %>
                      <% end %>
                  <% end %>
                  </h4>
                  <hr>
              <% end %>

              <%= form_for @medium_review, method: :put, url: wizard_path do |f| %>
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <legend>2) Making an assessment of author's trustworthiness</legend>
                  <ul>
                      
                  <li>Considering the given score, how do you assess the medium's reliability for accurate information?<span class='required'>*</span>
                  <%= f.select :medium_review_verdict, options_for_select([['Select',''],['Totally unreliable', -4],[' Mostly unreliable', -3],[' Somewhat reliable', -2],[' Mostly reliable', -1],[' Totally reliable', 1],[' Not sure', 0]], :selected => @medium_review.medium_review_verdict) %>
                  <br>
                  
                  </li>
          
                  <li>Explain your rationale to why you have given this assessment.
                  <%= f.text_area(:medium_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_medium_review_description, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      <%= link_to 'Previous Step',previous_wizard_path,:class=>'btn btn btn-primary',:style=>'color:white; background-color:#4B99AD' %>
&nbsp;&nbsp;&nbsp;<%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              