
        <div class="form-claim">
        <div class="sidenav">
      <%= form_for @medium_review, method: :put, url: wizard_path do |f| %>
        <big>Claim review steps:</big><br>
        <div class="divTable blueTable"><div class="divTableBody">
         <% 
          passed_step=false
          @all_steps.each do |key,value| %>
              <%= is_visible(key).html_safe %><div class="divTableCell">
              <% if (step==File.basename(wizard_path(key)))
                  passed_step=true %>
                  <b>-&gt; <%= value %></b>
              <% elsif passed_step %>
                  <%= f.submit value, style: 'color:#FFFFFF;width:100%;text-align:left' %>
              <% else %>
                  <%= f.submit value, style: 'color:#C0C0C0;width:100%;text-align:left' %>
              <% end %>
              </div></div>
         <% end %>
      </div>
      </div>
      </div>
      <div class="main">
              <h4>Reviewing medium:
                   <%= link_to @medium.name, medium_path(@medium.id) %></h4>
                <% if (not @medium.url.blank?) %>
                   <%== "URL: <input type='text' id='url_link' value='"+@medium.url.to_s+"' style='background-color:lightgrey;width:75%'> <button onclick=copyToClipboard('#url_link')>Copy</button>" %>
                <% else %>
                   URL: Not provided
                <% end %>
              <br> 
                
              <% if f.object.errors.any? %>
              <div class="error_messages">
                  <% f.object.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                  <% end %>
              </div>
              <% end %>
              <fieldset>
                <h5><strong>Reviewing the medium</strong></h5>
                  <ul>
                      
                  <li>Does the medium have poor technical security/safety standards  (contains viruses, scams, malware, etc.) and lacks encrypted communication (SSL certificate)? 
                  <br><%= f.radio_button :medium_has_poor_security, '-1', :checked => (!@medium_review.medium_has_poor_security.blank? && @medium_review.medium_has_poor_security==-1) %> Yes<br><%= f.radio_button :medium_has_poor_security, '1', :checked => (!@medium_review.medium_has_poor_security.blank? && @medium_review.medium_has_poor_security==1) %>  No<br><%= f.radio_button :medium_has_poor_security, '0', :checked => (!@medium_review.medium_has_poor_security.blank? && @medium_review.medium_has_poor_security==0) %>  Not sure<br><br><%= f.radio_button :medium_has_poor_security, '', :checked => (@medium_review.medium_has_poor_security.blank?) %> Skip this question<br>
                  <br>
                  
                  <br>
                  <%
                    require 'digest/sha1';
                    current_code=Digest::SHA1.base64digest("@medium_review."+"medium_has_poor_security")
                    has_resources=Resource.where("used_for_qs like ?", "%"+current_code+"%")
                  %>
                  <div class="panel-group" id="accordion1">
                  	<div class="panel panel-default">
                      	<div class="panel-heading">
                              	<a href="#Resources" data-toggle="collapse" data-parent="#accordion1" style="text-decoration: none">
                                  Resources (<%= has_resources.size.to_s %>) &nbsp; <span class="glyphicon glyphicon-plus"></span></a>
                          </div>
                          <div class="panel-collapse collapse" id="Resources">
                          	<div class="panel-body">
                            <% if not has_resources.blank? %>
                                  <ul>
                                  <% has_resources.each do |r| %>
                                  <li><h5>- <%== try_resource(r.name,'medium') %><%= link_to r.name, resource_path(r.id), target: "_blank" %></h5></li>
                                <% end %>
                              </ul>
                              <hr><p>- <%= link_to "Add an additional resource to this question", new_resource_path(ref: current_code), target: "_blank" %><br><br>
                              <small>- You can also check the current <b><%= link_to "resources", resources_path(), target: "_blank" %></b> and associate any of them to this question by adding the following reference code to their "Associations" field: <b><%= current_code %></b></small></p>
                          <% else %>
                              <p><b>No resources have been associated to this question.</b></p>
                              <hr><p>- <%= link_to "Add a resource to this question", new_resource_path(ref: current_code), target: "_blank" %><br><br>
                              <small>- You can also associate one of the current <b><%= link_to "resources", resources_path(), target: "_blank" %></b> to this question by adding the following reference code to their "Associations" field: <b><%= current_code %></b></small></p>
                          <% end %>
                          </div>
                       </div>
                  </div>
                  <hr>
             
                  </li>
          
                  <li>Optional note
                  <%= f.text_area(:note_medium_has_poor_security, size: '50x10', class: 'field-long field-textarea') %>
                  <br>
                  
                  </li>
          
                    <li>
                      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= f.submit 'Previous Step', :class => 'btn btn btn-primary' %>
                        <% end %>
                            <%= f.submit 'Next Step', :class => 'btn btn btn-primary' %>
                  
                    </li>
                  </ul>
              </fieldset>
              <% end %>
              </div>
              