<!DOCTYPE html>
<html>
  <head>
    <title>Fact Check Assistant (FCA)</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to image_tag('logo.png', alt: 'Fact Check Assistant', title: 'Fact Check Assistant'), root_path %>&nbsp;&nbsp;&nbsp;
          <b>| <%== Rails.configuration.institution.to_s %></b>&nbsp;&nbsp;&nbsp;
        </div>

        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li style="border-left:1px solid black;height:50px; left-padding:5px;"></li>
            <% if !request.fullpath.include? "claim" then %><li><%= link_to "Claims", claims_path %></li>
            <% else %><li><%= link_to "Claims", claims_path, style: 'color:#0A076D;font-weight:bold;' %></li><% end %>
            <% if !request.fullpath.include? "medi" then %><li><%= link_to "Media", media_path %></li>
            <% else %><li><%= link_to "Media", media_path, style: 'color:#0A076D;font-weight:bold;' %></li><% end %>
            <% if !request.fullpath.include? "src" then %><li><%= link_to "Sources", srcs_path %></li>
            <% else %><li><%= link_to "Sources", srcs_path, style: 'color:#0A076D;font-weight:bold;' %></li><% end %>
            <% if !request.fullpath.include? "resource" then %><li><%= link_to " | Useful Resources | ", resources_path %></li>
            <% else %><li><%= link_to " | Useful Resources | ", resources_path, style: 'color:#0A076D;font-weight:bold;' %></li><% end %>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>
    <p><%= notice %></p>
    <p><%= alert %></p>

    <%= yield %>
  </body>
</html>
